@{
    ViewBag.Title = "İletişim";
}

<h2>İletişim</h2>

<form>
    <label>Ad Soyad:</label><br />
    <input type="text" /><br /><br />

    <label>Email:</label><br />
    <input type="email" /><br /><br />

    <label>Mesajınız:</label><br />
    <textarea rows="5" cols="40"></textarea><br /><br />

    <input type="submit" value="Gönder" />
</form>
